<!DOCTYPE html>
<html>
<head>
<meta property="og:title" content="XOST STUDIO | Futuristic Software & Gaming">
<meta property="og:description" content="Building next-gen digital experiences through code and creativity.">
<meta property="og:image" content="https://raw.githubusercontent.com/XOST-Studio/XOST-Studio.github.io/main/XostStudio.png">
<meta property="og:url" content="https://xost-studio.github.io/">
<meta property="og:type" website">
<meta name="twitter:card" content="summary_large_image">
<meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
<meta name="theme-color" content="#00ffff">
</head>
<body>

</body>
</html>
